{% extends "base.html" %}
{% block title %}Images bookmarked{% endblock %}
{% block content %}
<h1>Images bookmarked</h1>
<div id="image-list">
    {% include "images/image/list_images.html" %}
</div>
{% endblock %}

{% block domready %}
    const width = window.innerWidth;
    const height = window.innerHeight;

    var page = 1;
    var emptyPage = false;
    var blockRequest = false;

    var heightOfColumn = 320;
    var widthOfColumn = 220;

    const number_of_images_per_row = Math.floor(width / widthOfColumn);
    const number_of_images_per_request = 8;
    const needed_images_per_row = Math.abs(number_of_images_per_row - number_of_images_per_request);
    const how_many_requests_do_we_need = Math.ceil(needed_images_per_row * Math.ceil(height / heightOfColumn) / number_of_images_per_request);
    console.log('how_many_requests_do_we_need: ' + Math.ceil(height / heightOfColumn));

    window.addEventListener('scroll', function(e) {
        var margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;
            fetch('?images_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    var imageList = document.getElementById('image-list');
                    imageList.insertAdjacentHTML('beforeEnd', html);
                    blockRequest = false;
                }
            })
        }
    });
    // Launch scroll event
    const scrollEvent = new Event('scroll');
    window.dispatchEvent(scrollEvent);

    window.addEventListener('load', function() {
        for (var i = 0; i < how_many_requests_do_we_need; i++) {
            blockRequest = true;
            page += 1;
            fetch('?images_only=1&page=' + page)
                .then(response => response.text())
                .then(html => {
                    if (html === '') {
                        emptyPage = true;
                    } else {
                        var imageList = document.getElementById('image-list');
                        imageList.insertAdjacentHTML('beforeEnd', html);
                        blockRequest = false;
                    }
                });
        }
    });
{% endblock %}
